<section class="w-[50%] mx-auto shadow-lg bg-white dark:bg-gray-900 rounded-xl my-16 p-10 transition-all">
    <h1 class="font-semibold text-3xl text-gray-800 dark:text-white mb-6">Login Form</h1>
    <p class="font-semibold text-red-600 text-center">{{ errMsg }}</p>
    
    <form [formGroup]="loginForm" (ngSubmit)="SubmitForm()">
        <div class="relative my-3">
            <input formControlName="email" type="text" id="user_email"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-2 focus:ring-green-500 peer"
                placeholder=" " />
            <label for="user_email"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500">
                Email
            </label>
        </div>

        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors" class="border rounded-lg border-red-700 p-3 bg-red-100 text-red-800 mb-3">
            <p *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</p>
            <p *ngIf="loginForm.get('email')?.errors?.['email']">Enter a valid email</p>
        </div>

        <div class="relative my-3">
            <input formControlName="password" type="password" id="password"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-2 focus:ring-green-500 peer"
                placeholder=" " />
            <label for="password"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500">
                Password
            </label>
        </div>

        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors" class="border rounded-lg border-red-700 p-3 bg-red-100 text-red-800">
            <p *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</p>
        </div>

        <div class="flex flex-col items-end mt-5">
            <button [disabled]="loginForm.invalid" type="submit"
                class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                <span *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i></span> Login
            </button>

            
            <a *ngIf="showForgetPassword" routerLink="/forgetPassword" class="text-green-400 mt-3 hover:underline">Forgot Password?</a>
        </div>
    </form>
</section>
