<section class="">
    <app-home-slide></app-home-slide>
    <h2 class="text-3xl md:text-3xl font-bold text-gray-800 my-4  relative md:w-[90%] mx-auto">
        <span class="bg-gradient-to-r from-green-500 to-green-700 text-transparent bg-clip-text">
            Shop Popular Category
        </span>
    </h2>
    <app-category-slider></app-category-slider>
    <div class="products">
        <h2 class="text-3xl md:text-3xl font-bold text-gray-800 my-4  relative md:w-[90%] mx-auto">
            <span class="bg-gradient-to-r from-green-500 to-green-700 text-transparent bg-clip-text">
                Shop Popular Products
            </span>
        </h2>
                <app-products></app-products>
    </div>
</section>